<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Group</title>
</head>
<body>
  <header>
    <h1>Create Group</h1>
  </header>
  <div>
    <form action="/group/add" method="POST">
      <label for="group_name">Group Name</label><br>
      <input type="text" name="group_name" id="group_name"><br>
      <button type="submit">Create Group</button>
    </form>
  </div>
</body>
</html>