<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>
<body>
    <img src="<%=profile_pict%>>">
        <h2><%=name%></h2>
        <h3><%=age%> years old</h3>

  <a href="/login"><button type="submit" class="btn btn-primary">Logout</button></a>
</body>

</html>